name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main", "develop"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: thecokerdavid/metrics@master
        with:
          token: ${{ secrets.METRICS_TOKEN }}
